*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(1, 1, 3, 0.973);
    color: white;
}

#Container{
    border: 2px solid white;
    background-color:  rgba(32, 32, 34, 0.973) ;
    border-radius: 10px;
    width: 200px;
    height: 250px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    
}
#Header{
    height: 40px;
    margin: 10px;
    font-size: 22px;
    padding: 5px;
    border-bottom: 2px solid white;

}
.row{
    display: flex;
    margin-left:9px;
    display:none;
}
.row div{
    height:50px;
    width: 50px;
    font-size: 25px;
    padding-left: 10px;
    padding-bottom: 6px;
    
}
.l{
    border-right: 2px solid white;
}
#row1 div{
    border-bottom: 2px solid white;
}
#row2 div{
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
.g{
    border-left: 2px solid white;
}
#row3 div{
    border-top: 2px solid white;
}

.start{
    margin-top: 15px;
    display: flex;
    gap: 18px;
    flex-direction: column;
}
.start h1{
    margin: 15px;
    font-size: 30px;
    color: rgb(194, 188, 188);
    margin: auto;
}
.start button{
    margin: 10px;
    height: 35px;
    width: 100px;
    margin: auto;
    background-color: rgb(149, 100, 196);
}
.player{
    margin-left: 8px;
    display: flex;
    gap: 3px;
    flex-direction: column;
}

.start h2{
    display: inline;
    font-size: 15px;
}
.start div{
    font-size: 12px;
}
.middleware{
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    width: 100%;
    height: 100%;
    display:none;
}
.middleware div{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.middleware button{
    color: wheat;
    background-color: rgb(114, 64, 158);
    border: none;
    height: 30px;
    width: 70px;
    padding: 5px;
}
.middleware button:hover{
    cursor: pointer;
    background-color: rgb(81, 24, 131);
}
#cw{
    display: none;
}
#dr{
    display: none;
}
.score{
    border: 2px;
    color: wheat;
    background-color: rgb(114, 64, 158);
    border: none;
    height: 30px;
    width: 70px;
    padding: 5px;
    display: none;
}
.score button{
    color: wheat;
    background-color: rgb(114, 64, 158);
    border: none;
    height: 30px;
    width: 70px;
    padding: 5px;
}